﻿@using ClapSnapServer.Repositories
<html>
<body>
    <style>
        img {
            position: absolute;
        }
    </style>
    <img id="i1" />
    <img id="i2" />
    <img id="i3" />
    <img id="i4" />
    <img id="i5" />
    <img id="i6" />
    <img id="i7" />
    <img id="i8" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        function imageAreaWidth() {
            if (w / h > 4 / 3) {
                return (h / 3) * 4;
            } else {
                return w;
            }
        }

        function imageAreaHeight() {
            if (w / h > 4 / 3) {
                return h;
            } else {
                return (w / 4) * 3;
            }
        }

        function imageMarginLeft() {
            return (w - imageAreaWidth()) / 2;
        }

        function imageMarginTop() {
            return (h - imageAreaHeight()) / 2;
        }

        function mainImageHeight() {
            return imageAreaHeight() * 0.75;
        }

        function mainImageWidth() {
            return imageAreaWidth() * 0.75;
        }

        function adjustMainImage() {
            $('#i1').width(mainImageWidth());
            $('#i1').height(mainImageHeight());
            $("#i1").css({ left: imageMarginLeft(), top: imageMarginTop() });
        }

        function smallImageWidth() {
            return imageAreaWidth() * 0.25;
        }

        function smallImageHeight() {
            return imageAreaHeight() * 0.25;
        }

        function adjustSmallImages() {

            for (var i = 2; i <= 8; ++i) {
                $('#i' + i).width(smallImageWidth());
                $('#i' + i).height(smallImageHeight());
            }
            for (var i = 2; i <= 5; ++i) {
                $("#i" + i).css({ left: imageMarginLeft() + mainImageWidth(), top: imageMarginTop() + (smallImageHeight() * (i - 2)) });
            }
            $("#i6").css({ left: imageMarginLeft() + (smallImageWidth() * 2), top: imageMarginTop() + mainImageHeight() });
            $("#i7").css({ left: imageMarginLeft() + (smallImageWidth() * 1), top: imageMarginTop() + mainImageHeight() });
            $("#i8").css({ left: imageMarginLeft() + (smallImageWidth() * 0), top: imageMarginTop() + mainImageHeight() });
        }

        function updateHeigtAndWidth() {
            $('img').hide();
            w = $(window).width();
            h = $(window).height();
            $('img').show();
        }

        function setSize() {
            updateHeigtAndWidth();
            adjustMainImage();
            adjustSmallImages();
        }

        $(window).resize(function () {
            setSize();
        });

        $(window).load(function () {
            setSize();
        });

        var latestimage;
        function updateImages() {
            $.getJSON("/home/LatestImages", function (data) {
                if (data.length > 0 && latestimage !== data[0]) {
                    latestimage = data[0];
                    for (var i = 0; i <= 7; ++i) {
                        if (data.length > i) $('#i' + (i + 1)).attr("src", data[i]);
                    }
                }
            });
        }

        updateImages();
        setInterval(function () {
            updateImages();
        }, 1000);


    </script>
</body>
</html>